

.mission-paragraph {
  font-size: 30px;
  text-align: justify;
  font-family: 'Handwritten', Friendly;
  line-height: 1.6;
  color: rgb(204, 227, 233);
}

/* Home Card */
.home-card {
  width: 800px;
  margin: 30px auto;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 20px;
  background-image: url('/images/cardBack1.jpg');
}




